/node_modules
/public/hot
/public/storage
/public/archive
/public/avatars
/public/logos
/public/thumbnails
/public/img/avatars
/public/img/logos
/public/img/thumbnails
/public/img/avatar
/public/img/logo
/public/img/thumbnail
/public/img/website
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
